<%- include('./partials/head.ejs') %>
   
</head>
<body class="bg-gray-100 text-gray-800">
   <%-include("./partials/navBar.ejs")%>
    <main class="container mx-auto mt-10 px-4">
        <h1 class="text-4xl font-bold text-center text-gray-900">Welcome to Airbnb</h1>
    </main>
   
   
    <section class="container mx-auto mt-10 px-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">
            <% homes.forEach(home => { %>
                <div class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col items-center justify-between h-64">
                    <img src="<%= home.image_url %>" alt="Home image" class="w-full h-32 object-cover"  onerror="this.src=`https://wallpaperaccess.com/full/3639497.jpg`">
                    <div class="p-4 text-center">
                        <h2 class="text-xl font-semibold truncate"><%= home.houseName %></h2>
                        <p class="text-gray-600 mt-2">Rupees <%= home.price %></p>
                        <p class="text-gray-800 font-bold mt-2"><%= home.rating %></p>
                    </div>
                </div>
            <% }) %>
        </div>
    </section>
    
    
       
</body>
</html>